<html lang="ko"
      xmlns:layout="http://www.ultrq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">

<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>

    <!-- 시큐리티로 form에 csrf 토큰(csrf 공격을 막는데 사용, 해당 사이트에서 실행되었는지 구분) 암호화된 value가 생김 -->
    <form th:action="@{/question/create}" th:object="${questionForm}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>

        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <!-- name이랑 id자동으로 생성해준다-->
            <input th:field="*{subject}" type="text" class="form-control" placeholder="제목을 입력해 주세요" >
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control" rows="10" placeholder="내용을 입력해 주세요"  th:field="*{content}" ></textarea>
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>
</div>
</html>